Source: indicator-transfer
Section: misc
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: cmake,
               dbus,
#  make g++ version explicit for ABI safety, see https://wiki.ubuntu.com/cpp-11
               g++-4.9,
               libglib2.0-dev (>= 2.35.4),
               libproperties-cpp-dev,
               libclick-0.4-dev (>= 0.4.30),
               libjson-glib-dev,
               libubuntu-app-launch2-dev,
# for coverage reports
               lcov,
# for tests
               cppcheck,
               dbus-test-runner,
               libgtest-dev,
               libdbustest1-dev,
               google-mock (>= 1.6.0+svn437),
# for packaging
               debhelper (>= 9), 
               dh-translations,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/indicator-transfer
# If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead.  ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: lp:indicator-transfer
Vcs-Browser: https://bazaar.launchpad.net/~indicator-applet-developers/indicator-transfer/trunk.14.10/files

Package: indicator-transfer
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
Recommends: indicator-applet | indicator-renderer,
            content-hub,
            ubuntu-download-manager,
Description: Shows Transfers
 Show file/data transfers in the indicator bar
